@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Header style start */
header{
    background-color: rgb(255, 255, 255);
    padding: 20px 0;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0px auto 30px;
}
.nav-container h1{
    margin: 0;
}
.nav-container button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: white;
    color: black;
    border:1px solid black;
    cursor: pointer
}

.banner-container{
    height: 652px;
    margin: 0 auto;
    background-image: url('../assets/Hero-bg.png');
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px auto;
    color: black;

}
.banner-container-content{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 auto;
}

.banner-container-content img{
    margin-bottom: 20px;

}
.banner-container-content h2{
    font-size: 32px;
    margin-bottom: 20px;
}
.banner-container-content p{
    font-size: 16px;
    margin-bottom: 30px;
    
}

.banner-container-content button{
    padding: 10px 20px;
    background-color: #0D1321;
    color: white;
    border: none;
    font-size: 20px;
}

/* Header style End */

/* developer section style*/


.why-development-container{
    background-color: #fff;
    padding: 40px auto;
}
.why-development-content{
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.why-development-content h2{
    font-size: 40px;
    font-weight: 700;
    margin: 20px;
}
.why-development-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 40px;
}
.why-container{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
}


.why-container img{
    width: 150px;
    height: 150px;
    border-radius: 8px;
}
.why-container .left{
    flex-direction: row;
}
.why-container .why-text-content{
    text-align: left;
    flex: 1;
}
.why-text-content h3{
    font-size: 24px;
    margin: 0 0 10px;
    color: #0D1321B3;
}
.why-text-content p{
    font-size: 17px;
    margin: 0 0 20px;
    color: #0D1321;
}
.why-text-content button{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    font-size: 17px;
    border-radius: 7px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

}
/* development section style end*/

/* inspiration section style */

.motivation-container{
    text-align: center;
    background-color: #fff;
    padding: 50px 0;
}
.text-content h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 16px;
    margin-bottom: 30px;
}

.motivational-content{
    width: 80%;
    margin: 0 auto;
}
.video-content{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.video-content iframe{
    width: 80%;
    height: 650px; 
    border: 1px #0D132133 solid;
    padding: 20px;
}
/* video section ends */

/*current target section style */

.current-target-container
.current-target-content{
    text-align: center;
    width: 80%;
    margin: 0 auto;

}
.current-target-content{
    padding: 50px;
}
.current-target-content h2{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}
.current-target-content p{
    font-size: 16px;
    margin-bottom: 10px;
}
.prog-lan{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    padding: 40px;
    margin: 10px;
    box-shadow: 0 4px8px rba('0, 0, 0, .1');
    text-align: center;

} 
.prog-lan-html{
    width: 30%;
    padding: 30px 10px;
    background-color: #ffe6e6;
}
.prog-lan-css{
    width: 30%;
    padding: 30px 10px;
    background-color: #e6f0ff;

}
.prog-lan-javascript{
    width: 30%;
    padding: 30px 10px;
    background-color: #fffbe6;
} 
h3 {
    font-size: 24px;
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 15px;
}
a {
    text-decoration: none;
    color: #0D1321;
    font-size: 16px;
    font-weight: 700;
}
/* Target section ends*/

/* support/form section style */


.support-container{
    width: 80%;
    height: 320px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background-image: url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 40px auto;
    border-radius: 10px;
}  

.support-container h2{
    font-size: 32px;
    margin-bottom: 20px;
    color: white;
}
.support-container p{
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
}

.support-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0 .5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
support-content{
    max-width: 90%;
    color: white;

}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}

form input{
    padding: 10px;
    width: 548px;
    height: 55px;
    border: none;
    border-radius: 8px;
    margin: 10px;

}

form button{
    width: 120px;
    height: 55px;
    margin: left;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    color: black;
    background-color: white;
}
/*support section end*/

/*footer section style */

.footer-container{
    max-width: 80%;
    height: 100px;
    margin: 0 auto;
    background-color: rgb(13, 19, 33, 0.03);
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;

}
.footer-container p{
    margin: 20px;
    font-size: 16px;
    color: #0D1321;
}

.footer-icon{
    margin-top: 20px;

}
.social-icon{
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
}

/* footer ends*/














